venv/*
.idea
credentials.yml
data/KaggleData/*
data/cache/*
data/data_sets_raw/*
data/data_sets_processed/*
hpc/logs/*
hpc/tools/*
hpc/venvs/*/*
code/smac3_output/*
*.out
*.err
*.arrow
*.pyc
*.csv
events.out.*
*/chronos_models/*
/data/UCIData
*.db
chronos_pkg/*
*.ipynb
*ipynb_checkpoints/*
chronos_models/*
chronos_models_old/*
data/tmp/*
AutogluonModels/*
!AG_Scores.csv
cache/broken_nodes.txt
*-checkpoint.py
cache/*
data/AutogluonModels/*
*/.ipynb_checkpoints/*

