# models
chronos_models/
FineTunedModels/
AutogluonModels/

# outputs
Results/
metrics/
cache/
*.csv

# python
__pycache__/
*.pyc

# data (usually too big)
data/train/
data/tmp/
data/finetuning/

# HPC / envs
hpc/venvs/
hpc/logs/
hpc/tools/
*.o
*.so
*.bin
__pycache__/
.DS_Store

# misc
.ipynb_checkpoints/
