venv/*
.idea
credentials.yml
data/KaggleData/*
data/cache/*
data/data_sets_raw/*
data/data_sets_processed/*
hpc/logs/*
hpc/tools/*
hpc/venvs/*/*
code/smac3_output/*
*.out
*.err
*.arrow
*.pyc
*.csv
events.out.*
