--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0+cu126
torchvision==0.21.0+cu126
torchaudio==2.6.0+cu126
#torch>=2.0,<3
transformers>=4.48,<5
accelerate>=0.32,<1
pytest~=8.0
numpy~=1.21
mypy~=1.9
gluonts[pro]~=0.15
datasets~=2.18
typer
typer-config
joblib
scikit-learn
tensorboard
